.home {
  padding: 30px 0;
}

.loader {
  display: flex;
  align-items: center;
  padding-left: 64px;
  color: #7fb544;
  background-image: url(../../assets/loader.gif);
  background-repeat: no-repeat;
  min-height: 64px;
}
